.header-container {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: flex-start;
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.link {
	margin: 20px;
}

.link a {
	color: white
}

.header-title {
	color: #F9FAFA;
	font-size: 2em;
}

.header-image {
	margin-left: 30px;
	padding-bottom: 15px;
}

.header-image img {
	height: 60px;
	/* width: 70px; */
	margin-top: 10px;
}

.header-button-container {
	position: absolute;
	top: 25px;
	right: 25px;
}