 .card {
 	min-width: 275;
 	margin: 1px 0px;
 	/* padding-bottom: 15px; */
 }

 h2, h3, h4, p {
 	color: rgba(0, 0, 0, 0.85);
 	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 .bullet {
 	display: 'inline-block';
 	margin: 0 2px;
 	transform: scale(0.8)
 }

 .title {
 	font-size: 14
 }

 .pos {
 	margin-bottom: 12
 }

 .card-actions {
 	float: right
 }

 .article-list-card {
	 padding: 0px 18px;
	 margin-bottom: 50px;
 }

 .article-list-card>h1 {
 	font-weight: 400;
 	font-style: normal;
 	line-height: 1.;
 	font-size: 3em !important;
 	/* font-size: 2em !important; */
 }

 .article-list-card>h2 {
	 /* color: grey; */
	margin: 10px 0px 10px 0px;
 	font-size: 1.8em !important;
 	letter-spacing: -1px;
 	font-weight: 600;
 	line-height: 1.22;
 }

 .article-list-card>h3 {
 	font-size: 1.6em !important;
 	line-height: 1.7;
 }

 .article-list-card>p {
 	/* padding: 0px 10px 0px 10px !important; */
 	font-size: 1em;
 	line-height: 1.5;
 	font-weight: 400 !important;
 	color: rgba(0, 0, 0, 0.6);
 	letter-spacing: -1px;
 	margin: 15px 0px 15px 0px !important;
 }

 .root {
 	display: flex;
 	justify-content: center;
 	flex-wrap: wrap
 }

 .chip {
 	margin: 10px 5px 5px 0px;
 	/* margin-right: 5px;
	 margin-bottom: 20px; */
 	padding: 0px !important;
 	border-radius: 4px !important;
 	/* border: 1px solid grey !important; */
 	/* font-style: italic; */
 }

 .chip>span {
 	color: grey;
 }

 .tags-heading {
 	color: grey;
 	font-size: 1.1em;
 	font-weight: 400;
 	/* letter-spacing: 2px; */
 }

 .article-list-card a {
 	font-weight: 400;
 	text-decoration: none;
	 color: rgba(0, 0, 0, 0.85) !important;
 }

.list-date {
	color : rgba(0, 0, 0, 0.6)
}

.card img{
	width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
	max-height: 400px;
	margin: 0 auto;
    display: block;
}
