html {
	height: 100%
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	background-color: #fdfdfd;
	overflow-y: scroll;
	height: 100%;
	font-weight: 200;
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto Slab', serif;
}

#main {
	min-height: 100%
}

.container {
	min-height: 100%
}

.page {
	margin: 0 auto;
	/* margin-top: 15px; */
	padding: 15px;
	max-width: 750px;
	height: 100%
}

.quill {
	margin-top: 10px;
	/* max-width: 750px; */
}

.ql-toolbar {
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.ql-container {
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.ql-editor {
	/* margin: 5px; */
	min-height: 550px;
	max-height: 550px !important;
}

.ql-editor img {
	max-width: 100%
}

.article-display {
	max-height: none;
}

.ql-editor>h1, .ql-editor>p {
	/* font-family: Georgia, 'Times New Roman', Times, serif */
}

.ql-editor>h1 {
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	font-size: 3em !important;
	/* font-size: 2em !important; */
}

.ql-editor>h2 {
	/* color: grey; */
	font-size: 2.1em !important;
	line-height: 1.2;
}

.ql-editor>h3 {
	font-size: 1.6em !important;
	line-height: 1.7;
}

.ql-editor>p {
	/* padding: 0px 10px 0px 10px !important; */
	font-size: 1.6em;
	line-height: 1.58;
	font-weight: 400
}

.ql-editor>blockquote {
	margin-top: 70px;
	margin-bottom: 70px;
	letter-spacing: 2.2px;
	line-height: 25px;
	font-size: 1.2em;
}

.button {
	margin: 3px,
}

.leftIcon {
	margin-right: 5px,
}

.rightIcon {
	margin-left: 5px
}

.iconSmall {
	font-size: 20,
}

.article-create-title-input {
	margin-bottom: 5px !important;
	width: 100%;
	max-width: 750px;
}

li {
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	font-size: 1.3em;
	line-height: 1.7em;
}

blockquote {
	margin-top: 70px;
	margin-bottom: 70px;
	letter-spacing: 2.2px;
	line-height: 35px;
	font-size: 1.4em;
}

/* blockquote em {
	letter-spacing: 2.2px;
	line-height: 25px;
	font-size: 1.2em;
} */

.tags-list-container {
	min-height: 50px;
}

.add-tags-component-container {
	min-width: 100%
}

.add-tags-component-input {
	min-width: 100%
}

.tag-chip {
	margin: 5px;
}

input:-internal-autofill-selected {
	background-color: none !important;
}